python-dotenv
rich
requests
antlr4-python3-runtime==4.13.2
antlr4-cypher==0.1.2
neo4j
openai
arize-phoenix-otel
openinference-instrumentation-openai
datasets
aiohttp>=3.8.0
asyncio
argparse
pathlib
typing
datetime
